@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-in {
  max-width: 0;
  animation: growWidth 0.2s ease forwards;
}
.card-out {
  max-width: 200px;
  animation: shrinkWidth 0.2s ease forwards;
}
@keyframes growWidth {
  to { 
    max-width: 200px;
  }
}
@keyframes shrinkWidth {
  to { 
    max-width: 0px;
  }
}